<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<section id="header">
    <a href="#"><img src="static\images\logo.jpeg" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a  href="/">Home</a></li>
            <li id="lg-bag"><a class="active" href="cartpage.html"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="class"><i class="far fa-times"></i></a>

        </ul>
    </div>
</section>
<section id="page-header" class="cart-header">
    
    <h2> #Let's_SHOP</h2>

    <p> And full fill our dreams </p>

</section>
<section id="cart" class="section-p1">

    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Images</td>
                <td>Products</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>subtotal</td>
            </tr>
        
        </thead>
        <tbody>

        {% for product in products %}
        <tr>
            <td>

                <form action="http://127.0.0.1:5000/removeProduct/{{product[0]}}/{{uid}}" method="POST" id="removeCartForm">
                    <button type="submit" class="far fa-times-circle">
                    </button>
                </form>
            </td>
            <td><img src="{{product[6]}}" alt="product Image"></td>
            <td>{{ product[1] }}</td>
            <td>{{ product[3] }}</td>
            <td><input type="number" value="1" min="1" onchange="updateTotal(this, '{{ product[3] }}',{{ product[0] }})"></td>
            <td id="total{{product[0]}}">{{ product[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</section>


<footer class="section-p1">
</footer>

<script></script>

</body>
</html>

<script>
    function updateTotal(input, price,id) {
        var quantity = input.value;
        var total = quantity * parseFloat(price);
        if (total < 0){
            total = 0
        }
        document.getElementById('total'+id).innerText = total.toFixed(2);
    }
</script>
