<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="static/images/logo.jpeg" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Search.." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

            </ul>
        </div>
    </section>
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1> On all products</h1>
        <p>Save more with cupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>
    <section id="product1" class="section-p1">
        <h1>Featured Products</h1>
        <p>Summer collection new modern design</p>
       <div class="pro-container">
    {% for product in products %}
    <div class="pro">
        <img src="static/images/G7.jpg" alt="">
        <div class="des">
            <span>{{ product[0] }}</span>
            <h5>{{ product[1] }}</h5>
            <h4>${{ product[2] }}</h4>
        </div>
        <a href="#"><i class="far fa-shopping-cart cart"></i></a>
    </div>
    {% endfor %}
</div>

    </section>
    <section id="banner" class="section-m1">
        <h4>Discount Sale</h4>
        <h2>Up to <span>70% off</span>-All t-shirts & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>
    <section id="product1" class="section-p1">
        <h1>New Arrivals</h1>
        <p>Summer collection new modern design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="images/G10.jpg" alt="">
                <div class="des">
                    <span>BTS</span>
                    <h5> T-shirt</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="images\WhatsApp Image 2022-05-30 at 7.39.53 PM.jpeg " alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronut T-shirt</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/G2.jpg" alt="">
                <div class="des">
                    <span>FASIO</span>
                    <h5>Longlenght wear</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/B3.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronut shirt</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/G9.jpg" alt="">
                <div class="des">
                    <span>Roadstar</span>
                    <h5>style T-shirt</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/B9.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Floral shirts</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/B4.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronut T-shirt</h5>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/sumantha.png" alt="">
                <div class="des">
                    <span>FASIO</span>
                    <h5>Trendy wear</h5>

                    <h4>$78</h4>
                </div>
                <a href="#"><i class="far fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>E-mail updates about our latest shop and<span> special offers</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your mail address">
            <button class="normal">Sign Up</button>
        </div>

        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img src=" images\logo.jpeg" class="fasio" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> pallavolu,kadapa(D),Andhra Pradesh</p>
            <p><strong>Phone</strong> +91 9493397594</p>
            <p><strong>Hours</strong> 10:00 - 18:00,Mon - Sat</p>

            <div class="Follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>

        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In </a>
            <a href="#">View charset</a>
            <a href="#">My Wish List</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
        <div class="col-install">
            <h4>Install App</h4>
            <p>From App store or Google play</p>
            <div class="row">
                <img src="images\WhatsApp Image 2022-05-30 at 5.46.29 PM.jpeg" alt="" class="app-store" />
                <img src="images\WhatsApp Image 2022-05-30 at 5.50.16 PM.jpeg" alt="" class="google-play" />
            </div>
            <p>Secured Payment Gateways</p>
            <img src="images\WhatsApp Image 2022-05-30 at 5.50.15 PM.jpeg" alt="" class="gate" />


        </div>

        <div class="copyright">
            <p>o 2022,Tech2 etc - HTML CSS E-COMMERCE TEMPLATE</p>
        </div>
    </footer>
    <script></script>

</body>

</html>
