<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="static/images/logo.jpeg" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Search.." name="search2">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

            </ul>
        </div>
    </section>
    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1> On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>
    <section id="product1" class="section-p1">
        <h1>Featured Products</h1>
        <p>Summer collection new modern design</p>

<!-- --------------------------------------------------Admin CRUD -------------------------------- -->

        <button class="styled-button" onclick="openForm()" >Add New Product</button>
        <div class="form-popup" id="myForm">
            <form action="/addProduct" method="post">
                <h4>Adding a Product</h4>
                <label for="name">Product Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="desc">Product Description:</label><br>
                <textarea type="text" id="desc" name="desc"></textarea><br><br>

                <label for="img">Image link:</label><br>
                <input type="text" id="img" name="img"><br><br>           <!-- can change type to url if needed -->

                <label for="price">Price:</label><br>
                <input type="number" id="price" name="price" required><br><br>

                <button type="submit" class="styled-button">Add Product</button>
                <button type="button" class="styled-button" onclick="closeForm()">Close</button>
            </form>
        </div>

<!-- ------------------------------------------------------------------------------------- -->

       <div class="pro-container">
    {% for product in products %}
    <div class="pro">
        <img src="static/images/G7.jpg" alt="">
        <div class="des">
            <span>{{ product[0] }}</span>
            <h5>{{ product[1] }}</h5>
            <h4>${{ product[2] }}</h4>
        </div>

        <div class = "button-position">
            <button id="remove-button" >Remove </button>
        </div>

        <form action="http://127.0.0.1:8000/addCart" method="POST" id="addToCartForm">
            <input type="hidden" name="user_id" value="1">
            <input type="hidden" name="product_id" value="{{ product[0] }}">

            <button type="submit" onclick="showMessage()">
                <i class="far fa-shopping-cart cart"></i>
                <div id="message">Item added to cart!</div>
            </button>
        </form>
    </div>
    {% endfor %}
</div>


    </section>
    <section id="banner" class="section-m1">
        <h4>Discount Sale</h4>
        <h2>Up to <span>70% off</span>-All t-shirts & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign up for Newsletter</h4>
            <p>E-mail updates about our latest shop and<span> special offers</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your mail address">
            <button class="normal">Sign Up</button>
        </div>

        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class = "fasio" src=" static/images/logo.jpeg"  alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 6334, Times Square, New York </p>
            <p><strong>Phone</strong> +01 24544 665/(+01)01 2556 9635</p>
            <p><strong>Hours</strong> 10:00 - 18:00,Mon - Sat</p>

            <div class="Follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>

        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="/login">Sign In </a>
            <a href="#">View charset</a>
            <a href="#">My Wish List</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
        <div class="col-install">
            <h4>Install App</h4>
            <p>From App store or Google play</p>
            <div class="row">
                <img src="static/images\app.jpg" alt="" class="app-store" />
                <img src="static/images\play.jpg" alt="" class="google-play" />
            </div>
            <p>Secured Payment Gateways</p>
            <img src="static/images\pay.png" alt="" class="gate" />


        </div>

        <div class="copyright">
            <p> © 2024 Group2,Inc etc - FASIO</p>
        </div>
    </footer>

    <script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
    function showMessage() {
            var message = document.getElementById("message");
            message.style.display = "block";
        }
    </script>
</body>

</html>
