<!DOCTYPE html>
<html>
<head>
    <title>Login In</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form id="loginForm">
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button type="submit">Login</button>
    <a href="forgot-password.html" class="Forgot-Password">Forgot Password</a>
</form>
<a href="signIn.html" class="create-account-button">Create Your Account</a>
<script src="script.js"></script>
</body>
</body>
</html>
