<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<section id="header">
    <a href="#"><img src="static\images\logo.jpeg" class="logo" alt=""></a>
</section>
<form id="registrationForm" action="/signup" method="POST">
    <input type="text" name="email" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit">Register</button>
</form>
<a href="/login" class="create-account-button">Already have an account? Login</a>
<script src="static/script.js"></script>
</body>
</html>